.header {
  width: 100%;
  height: $header-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: $colour-primary;
  color: $white;
  z-index: 1;
  box-shadow: 0 0 5px 5px $dark-grey;

  .header__title {
    flex: 5;
    font-size: 28px;
    text-align: center;
    font-family: $font-main;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0 8px;
  }

  .header__button-container {
    flex: 1;
    text-align: center;
    margin-top: 8px;
  }

  .header__button-icon {
    width: 40px;
    height: 40px;

    &:hover {
      color: $colour-accent;
    }
  }
}